@import '../../style/variables.scss';
@import '../../style/mixins';

.single-comic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    @include respond(small-desktop) {
        grid-template-columns: 35% 65%;
        column-gap: 20px;
    }
    @include respond(tablet) {
        grid-template-columns: 50% 50%;
    }
    @include respond(phone) {
        grid-template-columns: 100%;
    }
    &__img {
        width: 293px;
        height: 450px;
        @include respond(phone) {
            margin: 0 auto;
        }
    }
    // &__info {
    //     display: flex;
    //     flex-direction: column;
    //     flex-wrap: wrap;
    // }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        @include respond(phone) {
            text-align: center;
            margin-top: 20px;
        }
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
        @include respond(phone) {
            text-align: center;
        }
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
        @include respond(phone) {
            text-align: center;
        }
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
        @include respond(small-desktop) {
            justify-self: start;
            margin-top: 20px;
        }
    }
}