@import '../../style/variables.scss';
@import '../../style/mixins';

.search {
    margin-top: 25px;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 5;
    background-color: #fff;
    @include respond(phone) {
        padding: 10px;
    };
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include respond(phone) {
            flex-direction: column;
        };
        &__result {
            margin-top: 25px;
        }
    }
    &__heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    &__input {
        padding: 10.5px;
        width: 100%;
        font-size: 14px;
        margin-right: 24px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include respond(phone) {
            margin-bottom: 25px;
            width: 80%;
        };
        &:focus {
            outline: none;
        }
    }
    &__success {
        color: $success;
        font-size: 18px;
        font-weight: 700;
        @include respond(phone) {
            margin-bottom: 25px;
        };
    }
    &__error {
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
    }
}